---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ clustername }}
  namespace: {{ clustername }}
  labels:
    cloud: AWS
    vendor: OpenShift
    cluster.open-cluster-management.io/clusterset: default
spec:
  baseDomain: {{ publiczonename }}
  clusterName: {{ clustername }}
  controlPlaneConfig:
    servingCertificate: {}
  installAttemptsLimit: 1
  installed: false
  platform:
    aws:
      credentialsSecretRef:
        name: {{ clustername }}-aws-creds
      region: {{ aws_region }}
  provisioning:
    installConfigSecretRef:
      name: {{ clustername }}-install-config
    sshPrivateKeySecretRef:
      name: {{ clustername }}-ssh-private-key
    imageSetRef:
      name: {{ imageset }}
  pullSecretRef:
    name: {{ clustername }}-pull-secret
