apiVersion: v1
data:
  aws_access_key_id: {{ aws_access_key_id | b64encode }}
  aws_secret_access_key: {{ aws_secret_access_key | b64encode }}
kind: Secret
metadata:
  name: {{ clustername }}-aws-creds
  namespace: {{ clustername }}
type: Opaque
