---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ clustername }}
  labels:
    cloud: auto-detect
    cluster.open-cluster-management.io/clusterset: default
    name: {{ clustername }}
    vendor: OpenShift
{% if additionalTags is defined %}
{% for tag in additionalTags.items() %}
    {{ tag[0] }}: {{ tag[1] }}
{% endfor %}
{% endif %}
spec:
  hubAcceptsClient: true
