---
apiVersion: v1
data:
  .dockerconfigjson: {{ pull_secret | b64encode }}
kind: Secret
metadata:
  name: {{ clustername }}-pull-secret
  namespace: {{ clustername }}
type: kubernetes.io/dockerconfigjson
