---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ clustername }}
  namespace: {{ clustername }}
  labels:
    cloud: vSphere
    vendor: OpenShift
spec:
  baseDomain: {{ publiczonename }}
  clusterName: {{ clustername }}
  platform:
    vsphere:
      cluster: {{ vs_cluster }}
      certificatesSecretRef:
        name: {{ clustername }}-vsphere-certs
      credentialsSecretRef:
        name: {{ clustername }}-vsphere-creds
      vCenter: {{ vs_vcenter }}
      datacenter: {{ vs_datacenter }}
      defaultDatastore: {{ vs_datastore }}
{% if vs_folder is defined %}
      folder: {{ vs_folder }}
{% endif %}
      network: {{ vs_network }}
  provisioning:
    imageSetRef:
      name: {{ imageset }}
    installConfigSecretRef:
      name: {{ clustername }}-install-config
    sshPrivateKeySecretRef:
      name: {{ clustername }}-ssh-private-key
  pullSecretRef:
    name: {{ clustername }}-pull-secret
