---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ clustername }}-infra
  namespace: {{ clustername }}
spec:
  labels:
    node-role.kubernetes.io/worker: ''
    node-role.kubernetes.io/infra: ''
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/infra
  clusterDeploymentRef:
    name: {{ clustername }}
  name: infra
  platform:
    vsphere:
      cpus: {{ vs_infra_cpus | default(vs_worker_cpus) }}
      coresPerSocket: {{ vs_infra_cores | default(vs_cores) }}
      memoryMB: {{ vs_infra_mem | default(vs_worker_mem) }}
      osDisk:
        diskSizeGB: {{ vs_infra_disksize | default(vs_worker_disksize) }}
  replicas: {{ vs_infra }}
