apiVersion: v1
baseDomain: {{ publiczonename }}
compute:
- name: worker
  hyperthreading: Enabled
  platform:
    vsphere:
      cpus: {{ vs_worker_cpus }}
      coresPerSocket: {{ vs_cores }}
      memoryMB: {{ vs_worker_mem }}
      osDisk:
        diskSizeGB: {{ vs_worker_disksize }}
  replicas: 3
controlPlane:
  name: master
  hyperthreading: Enabled
  platform:
    vsphere:
      cpus: {{ vs_cp_cpus }}
      coresPerSocket: {{ vs_cores }}
      memoryMB: {{ vs_cp_mem }}
      osDisk:
        diskSizeGB: {{ vs_cp_disksize }}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ clustername }}
networking:
  clusterNetwork:
  - cidr: {{ clustercidr }}
    hostPrefix: 23
  machineNetwork:
{% for cidr in vs_machinecidr %}
  - cidr: {{ cidr }}
{% endfor %}
  networkType: {{ ocp_networkType | default("OpenShiftSDN") }}
  serviceNetwork:
  - {{ servicecidr }}
platform:
  vsphere:
    vcenter: {{ vs_vcenter }}
    username: {{ vs_user }}
    password: {{ vs_password }}
    datacenter: {{ vs_datacenter }}
    defaultDatastore: {{ vs_datastore }}
{% if vs_folder is defined %}
    folder: {{ vs_folder }}
{% endif %}
    diskType: {{ vs_diskType }}
    network: {{ vs_network }}
    cluster: {{ vs_cluster }}
    apiVIP: {{ vs_apiVIP }}
    ingressVIP: {{ vs_ingressVIP }}
    clusterOSImage: {{ vs_clusterOSImage }}
proxy:
  httpProxy: {{ vs_proxy | default("") }}
  httpsProxy: {{ vs_proxy | default("") }}
  noProxy: {{ vs_noproxy | default("") }}
pullSecret: '{{ pull_secret | to_json }}'
{% if ssh_public_key is defined %}
sshKey: {{ ssh_public_key }}
{% endif %}
fips: {{ vs_fips | default('false') }}
{% if trustBundle is defined %}
addtionalTrustBundle: 
{% filter indent(width=2) %}
  {{ trustBundle }}
{% endfilter %}
{% endif %}
imageContentSources:
  - mirrors:
      - repo.example.com/openshift-release-images
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
      - repo.example.com/release-images
    source: quay.io/openshift-release-dev-ocp-v4.0-art-dev
  - mirrors:
      - repo.example.com/multicluster-engine
    source: registry.redhat.io.io/multicluster-engine
  - mirrors:
      - repo.example.com/rhacm2
    source: registry.redhat.io.io/rhacm2
